/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #4682b4;
    /* Steel Blue */
}

nav {
    padding: 10px;
}

nav a {
    color: #fff;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 840px;
}

h1 {
    color: #2b2b2b;
    margin-bottom: 10px;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}

main ul {
    list-style-type: disc;
    margin-left: 20px;
}

main li {
    margin-bottom: 5px;
}

main a {
    color: #4682b4;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 4px 10px;
    border-radius: 3px;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    clear: both;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #f4f8fb;
    color: #000;
}